In [1]:
import pandas as pd
payment_df = pd.read_csv("Payment_db_data_npia.csv")
payment_df.head()

C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,payment_id,company_id,type,mode,amount,date,status,reference,note,payment_context,...,customer_id,vendor_id,bank_account_id,bank_upi_id,estimate_id,createdBy,updatedBy,created_at,updated_at,customer_name
0,1,1,OUT,OTHER,55507,01-04-2023 00:00,MANUAL,Invoice,Digimatic dial gauge with accessories,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,Shree shyam traders
1,2,1,OUT,OTHER,68800,07-04-2023 00:00,MANUAL,No attachment,Rent for april 2023 (ATS-RH07),PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,Rainder kaur walia
2,3,1,OUT,OTHER,10080,17-04-2023 00:00,MANUAL,Invoice copy,Reimbursment for travel exp (Radisson Hotel),PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,Gnaneshwar Shubhakumar
3,4,1,OUT,OTHER,3168,17-04-2023 00:00,MANUAL,Invoice,"Payment against wifi adaptor, ups",PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,SRJ Technologies
4,5,1,OUT,OTHER,444000,18-04-2023 00:00,MANUAL,Proforma,30% advance payment for work scope as per BOQ,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,Atharv industries corporation

In [4]:
bank_statement_df = pd.read_csv("NPI_feature_extraction.csv")
bank_statement_df.head()

,txn_date,value_date,description,remark_(npia),ref_no./cheque_no.,branch_code,debit,credit,balance,sender_or_reciever_info,transaction_type,currency,exchange_rate
0,03-04-2023,03-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2230936145...,RENT ATS,NEFT INB: CNACKGAGQ9 ...,99922,70100,,51322448.45,NIMISHA AHUJA,NEFT,NaN,NaN
1,03-04-2023,03-04-2023,TO TRANSFER-INTEREST PAID--,Bank Interest,TRANSFER TO 41541829866 ...,3024,3365000,,47957448.45,NaN,NaN,NaN,NaN
2,04-04-2023,04-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4230940432...,Food Materials,NEFT INB: CNACKISXZ2 ...,99922,55507,,47901941.45,Shree shyam traders,NEFT,NaN,NaN
3,05-04-2023,05-04-2023,BY TRANSFER-INB IMPS309522961613/8800772299...,configuration,MAD000278742610 MAD000278742610 ...,99922,,100,47902041.45,8800772299,IMPS,NaN,NaN
4,07-04-2023,07-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230407...,Stamp paper for Company Contract with Jahwa,RTGS INB: CRE3732647 ...,99922,240000,,47662041.45,SHCIL ESTAMPING,RTGS,NaN,NaN

In [6]:
print(payment_df.columns)
print(bank_statement_df.columns)

Index(['payment_id', 'company_id', 'type', 'mode', 'amount', 'date', 'status',
       'reference', 'note', 'payment_context', 'receipt_url', 'customer_id',
       'vendor_id', 'bank_account_id', 'bank_upi_id', 'estimate_id',
       'createdBy', 'updatedBy', 'created_at', 'updated_at', 'customer_name'],
      dtype='object')
Index(['txn_date', 'value_date', 'description', 'remark_(npia)',
       'ref_no./cheque_no.', 'branch_code', 'debit', 'credit', 'balance',
       'sender_or_reciever_info', 'transaction_type', 'currency',
       'exchange_rate'],
      dtype='object')

In [28]:
import pandas as pd
from rapidfuzz import fuzz
from datetime import timedelta

# Ensure dates are in datetime format
payment_df['date'] = pd.to_datetime(payment_df['date'], dayfirst=True, errors='coerce')
bank_statement_df['txn_date'] = pd.to_datetime(bank_statement_df['txn_date'], dayfirst=True, errors='coerce')

# Fill missing values and lowercase for comparison
payment_df['customer_name'] = payment_df['customer_name'].fillna('').str.lower()
bank_statement_df['sender_or_reciever_info'] = bank_statement_df['sender_or_reciever_info'].fillna('').str.lower()

# Remove commas (if any), and convert debit/credit to numeric
bank_statement_df['debit'] = pd.to_numeric(bank_statement_df['debit'].astype(str).str.replace(',', ''), errors='coerce')
bank_statement_df['credit'] = pd.to_numeric(bank_statement_df['credit'].astype(str).str.replace(',', ''), errors='coerce')

# Also make sure payment amount is numeric
payment_df['amount'] = pd.to_numeric(payment_df['amount'], errors='coerce')

# Parameters
amount_tolerance = 5               # +/- 5 currency units
date_tolerance_days = 30           # +/- 2 days
name_similarity_threshold = 60     # percent match for fuzzy string comparison

matches = []

# Loop through payments
for _, payment in payment_df.iterrows():
    for _, bank_txn in bank_statement_df.iterrows():
        txn_amount = bank_txn['credit'] if payment['type'] == 'IN' else bank_txn['debit']
        
        if pd.isna(txn_amount):
            continue
        
        # Amount check
        if abs(payment['amount'] - txn_amount) > amount_tolerance:
            continue
        
        # Date check
        if abs((payment['date'] - bank_txn['txn_date']).days) > date_tolerance_days:
            continue
        
        # Fuzzy name matching
        similarity = fuzz.token_sort_ratio(payment['customer_name'], bank_txn['sender_or_reciever_info'])
        if similarity < name_similarity_threshold:
            continue

        # Save match
        matches.append({
            'payment_id': payment['payment_id'],
            'payment_date': payment['date'],
            'payment_amount': payment['amount'],
            'customer_name': payment['customer_name'],
            'bank_txn_date': bank_txn['txn_date'],
            'statement_reference_no':bank_txn['ref_no./cheque_no.'],
            'bank_amount': txn_amount,
            'sender_or_reciever_info': bank_txn['sender_or_reciever_info'],
            'similarity': similarity
        })

# Create DataFrame with matches
matched_df = pd.DataFrame(matches).sort_values(by='similarity', ascending=False)

In [30]:
matched_df

,payment_id,payment_date,payment_amount,customer_name,bank_txn_date,statement_reference_no,bank_amount,sender_or_reciever_info,similarity
0,1,2023-04-01,55507,shree shyam traders,2023-04-04,NEFT INB: CNACKISXZ2 ...,55507.00,shree shyam traders,100.000000
12,14,2023-04-24,11210,calcify it solutions,2023-04-24,NEFT INB: CNACLBXUO4 ...,11210.00,calcify it solutions,100.000000
2,4,2023-04-17,3168,srj technologies,2023-04-18,NEFT INB: CNACKWKTN1 ...,3168.00,srj technologies,100.000000
3,5,2023-04-18,444000,atharv industries corporation,2023-04-18,RTGS INB: CRE4098188 ...,444000.00,atharv industries corporation,100.000000
16,19,2023-04-26,48498,booyoung india pvt ltd,2023-04-28,NEFT INB: CNACLGCPA5 ...,48498.00,booyoung india pvt ltd,100.000000
14,17,2023-04-25,125473,techpc7,2023-04-25,NEFT INB: CNACLDRKO3 ...,125473.00,techpc7,100.000000
6,8,2023-04-19,5237,gps office equipment pvt ltd,2023-04-20,NEFT INB: CNACKYPNF9 ...,5237.40,gps office equipment pvt ltd,100.000000
7,9,2023-04-19,2832,greno enterprises,2023-04-20,NEFT INB: CNACKYRPG7 ...,2832.00,greno enterprises,100.000000
8,10,2023-04-20,64055,a2a green technologies llp,2023-04-20,NEFT INB: CNACKZKIO3 ...,64054.64,a2a green technologies llp,100.000000
1,2,2023-04-07,68800,rainder kaur walia,2023-04-07,NEFT INB: CNACKMZIA0 ...,68800.00,rainder kaur walia,100.000000
10,12,2023-04-22,15986,techpc7,2023-04-22,NEFT INB: CNACLBDFK5 ...,15986.00,techpc7,100.000000
13,15,2023-04-24,6608,supreme world,2023-04-24,NEFT INB: CNACLCGUZ4 ...,6608.00,supreme world,100.000000
9,11,2023-04-21,26800,mohd. shahid iqbal,2023-04-22,NEFT INB: CNACLBDDK4 ...,26800.00,mohd shahid iqbal,97.142857
17,20,2023-04-28,47000,megaming technosoft,2023-04-29,NEFT INB: CNACLHFCX8 ...,47000.00,megamind technosoft,94.736842
15,18,2023-04-26,10974,ins-tech engineer's,2023-04-25,NEFT INB: CNACLDRXL1 ...,10974.00,ins tech engineers,91.891892
4,6,2023-04-18,21240,stack & move solutions,2023-04-18,NEFT INB: CNACKXJZU2 ...,21240.00,stack and move solutions,91.304348
11,13,2023-04-24,19836,hook catch seafood pvt ltd,2023-04-24,NEFT INB: CNACLBXVD3 ...,19836.00,hook catch seafoods private limited,85.245902
18,21,2023-04-28,87397,anmol consultancy & man power services,2023-04-28,NEFT INB: CNACLGOTS9 ...,87397.00,anmol consultancy and man power,81.159420
5,7,2023-04-18,32400,svod professional,2023-04-18,NEFT INB: CNACKXKQJ1 ...,32400.00,svod professional india pvt ltd,70.833333

In [14]:
bank_statement_df

,txn_date,value_date,description,remark_(npia),ref_no./cheque_no.,branch_code,debit,credit,balance,sender_or_reciever_info,transaction_type,currency,exchange_rate
0,2023-04-03,03-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2230936145...,RENT ATS,NEFT INB: CNACKGAGQ9 ...,99922,70100.00,NaN,51322448.45,nimisha ahuja,NEFT,NaN,NaN
1,2023-04-03,03-04-2023,TO TRANSFER-INTEREST PAID--,Bank Interest,TRANSFER TO 41541829866 ...,3024,3365000.00,NaN,47957448.45,,NaN,NaN,NaN
2,2023-04-04,04-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4230940432...,Food Materials,NEFT INB: CNACKISXZ2 ...,99922,55507.00,NaN,47901941.45,shree shyam traders,NEFT,NaN,NaN
3,2023-04-05,05-04-2023,BY TRANSFER-INB IMPS309522961613/8800772299...,configuration,MAD000278742610 MAD000278742610 ...,99922,NaN,100.0,47902041.45,8800772299,IMPS,NaN,NaN
4,2023-04-07,07-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230407...,Stamp paper for Company Contract with Jahwa,RTGS INB: CRE3732647 ...,99922,240000.00,NaN,47662041.45,shcil estamping,RTGS,NaN,NaN
5,2023-04-07,07-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN3230973730...,RH07 Rent,NEFT INB: CNACKMZIA0 ...,99922,68800.00,NaN,47593241.45,rainder kaur walia,NEFT,NaN,NaN
6,2023-04-08,08-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230408...,Salary,RTGS INB: CRE3751603 ...,99922,250000.00,NaN,47343241.45,jong wook noh,RTGS,NaN,NaN
7,2023-04-10,10-04-2023,BY TRANSFER-INB IMPS310017952183/8800772299...,Security Return,MAB001172452318 MAB001172452318 ...,99922,NaN,13000.0,47356241.45,8800772299,IMPS,NaN,NaN
8,2023-04-10,10-04-2023,BY TRANSFER-INB IMPS310017725993/8800772299...,Security Return,MAD000281789707 MAD000281789707 ...,99922,NaN,13000.0,47369241.45,8800772299,IMPS,NaN,NaN
9,2023-04-12,12-04-2023,BY TRANSFER-RTGS UTR NO: SHBKR5202304120494...,Shareholder Investment,TRANSFER FROM 3199856044300 / JINWOO KIM,4430,NaN,1000000.0,48369241.45,jinwoo kim,RTGS,NaN,NaN
10,2023-04-12,12-04-2023,TO TRANSFER-INB 38000--,Salary,CTW6160751 TRANSFER TO 985610302...,99922,53612.00,NaN,48315629.45,transfer,INB,NaN,NaN
11,2023-04-12,12-04-2023,TO TRANSFER-INB SALARY--,Salary,OB00004CNACKRJUX3 TRANSFER TO 98...,99922,1464926.00,NaN,46850703.45,inb salary,TRANSFER,NaN,NaN
12,2023-04-12,12-04-2023,TO TRANSFER-INB SALARY--,Salary,SB00004CTW6142504 TRANSFER TO 98...,99922,77520.00,NaN,46773183.45,,NaN,NaN,NaN
13,2023-04-17,17-04-2023,BY TRANSFER-NEFT*IBKO0000001*07230417NEFT00...,Advance against Service provided to Company,TRANSFER FROM 4697179044302 /,4430,NaN,570000.0,47343183.45,hisyseng india p,NEFT,NaN,NaN
14,2023-04-18,18-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230418...,30% Advance hired company service,RTGS INB: CRE4098188 ...,99922,444000.00,NaN,46899183.45,atharv industries corporation,RTGS,NaN,NaN
15,2023-04-18,18-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231088745...,Salary,NEFT INB: CNACKXKCA8 ...,99922,450000.00,NaN,46449183.45,sungcheol kim,NEFT,NaN,NaN
16,2023-04-18,18-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231088773...,CA Service,NEFT INB: CNACKXKQJ1 ...,99922,32400.00,NaN,46416783.45,svod professional india pvt ltd,NEFT,NaN,NaN
17,2023-04-18,18-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231088791...,Hand Pallet Purchase,NEFT INB: CNACKXJZU2 ...,99922,21240.00,NaN,46395543.45,stack and move solutions,NEFT,NaN,NaN
18,2023-04-18,18-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231088787...,"Wifi Adapter , UPS",NEFT INB: CNACKWKTN1 ...,99922,3168.00,NaN,46392375.45,srj technologies,NEFT,NaN,NaN
19,2023-04-18,18-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231088811...,Travel Reimbursement,NEFT INB: CNACKWJEF4 ...,99922,10080.00,NaN,46382295.45,shubha kumar g,NEFT,NaN,NaN
20,2023-04-20,20-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231109196...,Printer Rent,NEFT INB: CNACKYPNF9 ...,99922,5237.40,NaN,46377058.05,gps office equipment pvt ltd,NEFT,NaN,NaN
21,2023-04-20,20-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231109212...,Advance Salary,NEFT INB: CNACKZKOH1 ...,99922,30000.00,NaN,46347058.05,sonu kumar,NEFT,NaN,NaN
22,2023-04-20,20-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231109241...,Partial payment for Split AC and intallation,NEFT INB: CNACKZKIO3 ...,99922,64054.64,NaN,46283003.41,a2a green technologies llp,NEFT,NaN,NaN
23,2023-04-20,20-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231109237...,Business Cards,NEFT INB: CNACKYRPG7 ...,99922,2832.00,NaN,46280171.41,greno enterprises,NEFT,NaN,NaN
24,2023-04-22,22-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN1231128802...,"Monitor , Keyboard & Mouse",NEFT INB: CNACLBDFK5 ...,99922,15986.00,NaN,46264185.41,techpc7,NEFT,NaN,NaN
25,2023-04-22,22-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN1231128820...,Brokerage & Rent agreement fee,NEFT INB: CNACLBDDK4 ...,99922,26800.00,NaN,46237385.41,mohd shahid iqbal,NEFT,NaN,NaN
26,2023-04-24,24-04-2023,BY TRANSFER-RTGS UTR NO: SHBKR5202304240539...,Shareholder Investment,TRANSFER FROM 3199856044300 / JINWOO KIM,4430,NaN,1850000.0,48087385.41,jinwoo kim,RTGS,NaN,NaN
27,2023-04-24,24-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230424...,Structurall Vetting (Advance 100%),RTGS INB: CRE4300881 ...,99922,1690924.00,NaN,46396461.41,f2s,RTGS,NaN,NaN
28,2023-04-24,24-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231149951...,Pallet Purchase,NEFT INB: CNACLCGUZ4 ...,99922,6608.00,NaN,46389853.41,supreme world,NEFT,NaN,NaN
29,2023-04-24,24-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231149977...,Food Materials,NEFT INB: CNACLBXVD3 ...,99922,19836.00,NaN,46370017.41,hook catch seafoods private limited,NEFT,NaN,NaN
30,2023-04-24,24-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231149996...,Internet Broadband,NEFT INB: CNACLBXUO4 ...,99922,11210.00,NaN,46358807.41,calcify it solutions,NEFT,NaN,NaN
31,2023-04-25,25-04-2023,TO TRANSFER-NEFT UTR NO: SBIN323115330201--...,Bank Interest,TRANSFER TO 99506044303 / SATYA NARAYAN MISHRA,3024,20000.00,NaN,46338807.41,satya narayan mishra,NEFT,NaN,NaN
32,2023-04-25,25-04-2023,TO TRANSFER-NEFT UTR NO: SBIN323115331701--...,Bank Interest,TRANSFER TO 99506044303 / SATYA NARAYAN MISHRA,3024,20000.00,NaN,46318807.41,satya narayan mishra,NEFT,NaN,NaN
33,2023-04-25,25-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231150384...,"IT Material (Wifi, Graphic Card)",NEFT INB: CNACLDRKO3 ...,99922,125473.00,NaN,46193334.41,techpc7,NEFT,NaN,NaN
34,2023-04-25,25-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4231150432...,Production Material Vendor payment,NEFT INB: CNACLDRXL1 ...,99922,10974.00,NaN,46182360.41,ins tech engineers,NEFT,NaN,NaN
35,2023-04-26,26-04-2023,BY TRANSFER-NEFT*HDFC0002701*N1162324329804...,TDS Amount,TRANSFER FROM 4697181044308 /,4430,NaN,237954.0,46420314.41,taiin steel fab,NEFT,NaN,NaN
36,2023-04-28,28-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231181359...,Houskeeping Contracter payment,NEFT INB: CNACLGOTS9 ...,99922,87397.00,NaN,46332917.41,anmol consultancy and man power,NEFT,NaN,NaN
37,2023-04-28,28-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2231181415...,Material Vendor payment,NEFT INB: CNACLGCPA5 ...,99922,48498.00,NaN,46284419.41,booyoung india pvt ltd,NEFT,NaN,NaN
38,2023-04-28,28-04-2023,TO TRANSFER-INB reimbursement--,Employee Fuel Reimbursement,CTW8161964 TRANSFER TO 359651258...,99922,1638.40,NaN,46282781.01,inb reimbursement,TRANSFER,NaN,NaN
39,2023-04-29,29-04-2023,TO TRANSFER-INTEREST PAID--,Bank Interest,TRANSFER TO 41541829866 ...,3024,3407000.00,NaN,42875781.01,interest paid,TRANSFER,NaN,NaN
40,2023-04-29,29-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN3231199789...,Payroll Software (50% advance),NEFT INB: CNACLHFCX8 ...,99922,47000.00,NaN,42828781.01,megamind technosoft,NEFT,NaN,NaN

In [10]:
payment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   payment_id       23 non-null     int64
 1   company_id       23 non-null     int64
 2   type             23 non-null     object
 3   mode             23 non-null     object
 4   amount           23 non-null     int64
 5   date             23 non-null     datetime64[ns]
 6   status           23 non-null     object
 7   reference        22 non-null     object
 8   note             23 non-null     object
 9   payment_context  23 non-null     object
 10  receipt_url      0 non-null      float64
 11  customer_id      0 non-null      float64
 12  vendor_id        0 non-null      float64
 13  bank_account_id  0 non-null      float64
 14  bank_upi_id      0 non-null      float64
 15  estimate_id      0 non-null      float64
 16  createdBy        23 non-null     int64
 17  updatedBy        23 non-null     int64
 18  created_at       23 non-null     object
 19  updated_at       23 non-null     object
 20  customer_name    23 non-null     object
dtypes: datetime64[ns](1), float64(6), int64(5), object(9)
memory usage: 3.9+ KB

In [17]:
matched_df.payment_id.to_list()

[2, 10, 19, 17, 15, 14, 4, 12, 9, 8, 5, 11, 20, 18, 6, 13, 21, 7]

In [29]:
result = payment_df[~payment_df['payment_id'].isin(matched_df['payment_id'])]
result

,payment_id,company_id,type,mode,amount,date,status,reference,note,payment_context,...,customer_id,vendor_id,bank_account_id,bank_upi_id,estimate_id,createdBy,updatedBy,created_at,updated_at,customer_name
2,3,1,OUT,OTHER,10080,2023-04-17,MANUAL,Invoice copy,Reimbursment for travel exp (Radisson Hotel),PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,gnaneshwar shubhakumar
15,16,1,OUT,OTHER,1690924,2023-04-24,MANUAL,Proforma,Advance payment against structural vetting by IIT,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,foundation to structure (f2s)
21,22,1,OUT,OTHER,585000,2023-05-02,MANUAL,Invoice,Office interior work,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,atharv industries corporation
22,23,1,OUT,OTHER,202351,2023-05-03,MANUAL,NaN,"Reimbursement to CFO (office goods, foods,etc)...",PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,hyeong seok jeong

In [ ]:
# match bases on amount, customer name and then date.
# calculate confidence score based on the data above and show recommendation to user
# from payment table show use all avaibale unmatched bank statement records if confidence score is very low

# make prompt for all cases to match invoice with payment table. return output as csv with 100% matched at top, then partially matched data below them

In [3]:
#!pip install difflib

import pandas as pd
payment_df = pd.read_csv("Payment_db_data_npia.csv")
payment_df.head()

bank_statement_df = pd.read_csv("NPI_feature_extraction.csv")
bank_statement_df.head()

,txn_date,value_date,description,remark_(npia),ref_no./cheque_no.,branch_code,debit,credit,balance,sender_or_reciever_info,transaction_type,currency,exchange_rate
0,03-04-2023,03-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN2230936145...,RENT ATS,NEFT INB: CNACKGAGQ9 ...,99922,70100,,51322448.45,NIMISHA AHUJA,NEFT,NaN,NaN
1,03-04-2023,03-04-2023,TO TRANSFER-INTEREST PAID--,Bank Interest,TRANSFER TO 41541829866 ...,3024,3365000,,47957448.45,NaN,NaN,NaN,NaN
2,04-04-2023,04-04-2023,TO TRANSFER-INB NEFT UTR NO: SBIN4230940432...,Food Materials,NEFT INB: CNACKISXZ2 ...,99922,55507,,47901941.45,Shree shyam traders,NEFT,NaN,NaN
3,05-04-2023,05-04-2023,BY TRANSFER-INB IMPS309522961613/8800772299...,configuration,MAD000278742610 MAD000278742610 ...,99922,,100,47902041.45,8800772299,IMPS,NaN,NaN
4,07-04-2023,07-04-2023,TO TRANSFER-INB RTGS UTR NO: SBINR120230407...,Stamp paper for Company Contract with Jahwa,RTGS INB: CRE3732647 ...,99922,240000,,47662041.45,SHCIL ESTAMPING,RTGS,NaN,NaN

In [5]:
import pandas as pd
from difflib import SequenceMatcher

# --- Preprocessing ---
payment_df['date'] = pd.to_datetime(payment_df['date'], dayfirst=True, errors='coerce')
bank_statement_df['txn_date'] = pd.to_datetime(bank_statement_df['txn_date'], dayfirst=True, errors='coerce')

payment_df['customer_name'] = payment_df['customer_name'].fillna('').str.lower().str.strip()
bank_statement_df['sender_or_reciever_info'] = bank_statement_df['sender_or_reciever_info'].fillna('').str.lower().str.strip()

bank_statement_df['debit'] = pd.to_numeric(
    bank_statement_df['debit'].astype(str).str.replace(',', ''), errors='coerce')
bank_statement_df['credit'] = pd.to_numeric(
    bank_statement_df['credit'].astype(str).str.replace(',', ''), errors='coerce')
payment_df['amount'] = pd.to_numeric(payment_df['amount'], errors='coerce')

bank_statement_df['description'] = bank_statement_df['description'].fillna('').str.lower()
payment_df['reference'] = payment_df['reference'].fillna('').str.lower()

# --- Name Similarity ---
def get_name_match_score(name1, name2):
    if not name1 or not name2:
        return 0

    name1_clean = name1.replace('(', '').replace(')', '')
    name2_clean = name2.replace('(', '').replace(')', '')

    # Token containment logic
    if name2_clean in name1_clean or name1_clean in name2_clean:
        return 0.6  # Strong match if one is substring of the other

    # Fallback: original logic
    name1_tokens = set(name1_clean.split())
    name2_tokens = set(name2_clean.split())
    token_overlap = len(name1_tokens & name2_tokens) / max(len(name1_tokens | name2_tokens), 1)
    string_similarity = SequenceMatcher(None, name1_clean, name2_clean).ratio()
    return max(token_overlap, string_similarity)


# --- Match Score ---
def calculate_match_score(payment, bank_txn):
    if payment['date'] > bank_txn['txn_date']:
        return 0, None, None, 0, False

    amount_diff = abs((bank_txn['debit'] or bank_txn['credit'] or 0) - payment['amount']) if pd.notna(bank_txn['debit']) else float('inf')
    date_diff = (bank_txn['txn_date'] - payment['date']).days
    name_score = get_name_match_score(payment['customer_name'], bank_txn['sender_or_reciever_info'])
    ref_match = payment['reference'] in bank_txn['description']

    # High confidence if name and amount are strong matches
    if name_score >= 0.85 and amount_diff <= 1:
        base_score = 0.95
    elif name_score >= 0.7 and amount_diff == 0:
        base_score = 0.9
    elif name_score >= 0.5 and amount_diff == 0:
        base_score = 0.7
    elif name_score >= 0.6 and amount_diff <= 3:
        base_score = 0.6
    else:
        return 0, amount_diff, date_diff, name_score, ref_match  # Not confident enough

    # Add minor boosts
    if date_diff <= 5:
        base_score += 0.03
    if ref_match:
        base_score += 0.02

    return round(min(base_score, 1.0), 4), amount_diff, date_diff, round(name_score, 4), ref_match

# --- Match Finder: Best per Payment ---
matches = []

for _, payment in payment_df.iterrows():
    best_score = 0
    best_match = None

    for _, bank_txn in bank_statement_df.iterrows():
        if bank_txn['txn_date'] < payment['date']:
            continue  # only match txn that occurs on or after payment

        score, amt_diff, dt_diff, name_sim, ref_match = calculate_match_score(payment, bank_txn)

        # Choose best score, and break ties by earlier bank_txn_date
        if (score > best_score) or (score == best_score and best_match and bank_txn['txn_date'] < best_match['bank_txn_date']):
            best_score = score
            best_match = {
                'payment_id': payment['payment_id'],
                'bank_ref_no': bank_txn['ref_no./cheque_no.'],
                'match_score': score,
                'amount_diff': amt_diff,
                'date_diff_days': dt_diff,
                'name_match_score': name_sim,
                'reference_match': ref_match,
                'bank_txn_date': bank_txn['txn_date'],
                'payment_date': payment['date'],
                'payment_amount': payment['amount'],
                'bank_debit': bank_txn['debit'],
                'customer_name': payment['customer_name'],
                'bank_party': bank_txn['sender_or_reciever_info']
            }

    if best_match and best_score > 0.6:
        matches.append(best_match)
        


# --- Export to CSV ---
matched_df = pd.DataFrame(matches).sort_values(by='match_score', ascending=False).reset_index(drop=True)
matched_df.to_csv("best_matched_payments.csv", index=False)
print("Saved high-confidence matches to 'best_matched_payments.csv'")

Saved high-confidence matches to 'best_matched_payments.csv'

In [6]:
result = payment_df[~payment_df['payment_id'].isin(matched_df['payment_id'])]
result

,payment_id,company_id,type,mode,amount,date,status,reference,note,payment_context,...,customer_id,vendor_id,bank_account_id,bank_upi_id,estimate_id,createdBy,updatedBy,created_at,updated_at,customer_name
17,18,1,OUT,OTHER,10974,2023-04-26,MANUAL,invoice,Material for production department,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,ins-tech engineer's
21,22,1,OUT,OTHER,585000,2023-05-02,MANUAL,invoice,Office interior work,PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,atharv industries corporation
22,23,1,OUT,OTHER,202351,2023-05-03,MANUAL,,"Reimbursement to CFO (office goods, foods,etc)...",PURCHASE,...,NaN,NaN,NaN,NaN,NaN,1,1,55:47.7,55:47.7,hyeong seok jeong